<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head')%>
  <title>Blog about History of Dragon Ball</title>
</head>
<body>
    <section>
  <div class="forma">
    <div class="sortingList">
      <form action="/home" method="GET" class="sortForma">
        <h2> Our Blogs!! </h2>
            <select name="sortBy" id="sortBy" class="input">
             <option value="null">----</option>
              <option value="title">Sort by title</option>
               <option value="id">Sort by id</option>
            </select>
            <br>
            <select name="sort" id="sort" class="input">
              <option value="null">---</option>
              <option value="ascending">Ascending</option>
              <option value="descending">Descending</option>
            </select>
            <br>
            <input type="submit" class="ieskoti" value="Sort">
            </form>
            <a href="/home"><button class="reset">Reset sorting</button></a>
     </div>
<%blogai.forEach(item=>{%>
  <div class="content">
    <div class="content_id">Blog ID: <%=item.id%></div>
    <div class="content_title"><%=item.title%></div>
    <div class="content_contents"><p><%=item.content%></p></div>
  </div>
  <%})%>
  </div>
</section>
</body>
</html>