body {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: blanchedalmond;
}

.headerWrapper {
    background-color: rgb(168, 209, 248);
}

.headerLogo {
    height: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
}

.headerNavList {
    display: flex;
    gap: 20px;
}

main {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.blog {
    border: 1px solid black;
    background-color: rgb(141, 218, 238);
    color: black;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}

.truncate {
    line-height: 1rem;
    overflow: hidden;
    max-height: 2rem;
    text-align: center;
}

.blogInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid black;
}

.registerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.registerWrapper form {
    display: flex;
    flex-direction: column;
}

.profile {
    display: flex;
    align-items: center;
    gap: 5px;
}

.sortWrapper {
    width: 80%;
    margin: 0 auto;
}

.blogPage {
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.blogPage h1 {
    text-align: center;
}

.backBtn {
    position: absolute;
    top: 35px;
    border-radius: 10px;
    border: 1px solid rgb(36, 125, 197);
    background-color: rgb(105, 105, 105);
    color: white;
    padding: 5px 10px;
}

@media (min-width: 768px) {
    .blog {
        width: 40%;
    }
}
@media (min-width: 1200px) {
    .blog {
        width: 30%;
    }
}